In [1]:
import matplotlib.pyplot as plt
import torch
import numpy as np
import pandas as pd
from torch.autograd import Variable
from torch import optim
import torch.nn as nn

In [4]:
data = pd.read_csv('census.csv')

In [5]:
data.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [6]:
list(data)

['age',
 'workclass',
 'education_level',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'income']

In [7]:
y = data[['income']]

In [10]:
x = data.drop(['income'], axis=1, errors='ignore')

In [13]:
one_hot_encode_columns = ['workclass', 'education_level', 'marital-status', 'occupation', 'relationship',
                          'race', 'sex', 'native-country']

In [14]:
x = pd.get_dummies(x, columns=one_hot_encode_columns)

In [29]:
y = y.apply(lambda x: 1 if x['income'] == '>50K' else 0, axis=1)

In [30]:
x.shape, y.shape

((45222, 103), (45222,))

In [39]:
x_train, x_test = np.asarray(x[:44000], dtype=np.float32), np.asarray(x[44000:], dtype=np.int32)
y_train, y_test = np.asarray(y[:44000], dtype=np.float32), np.asarray(y[44000:], dtype=np.int32)
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((44000, 103), (44000,), (1222, 103), (1222,))

In [62]:
class LogisticRegression(nn.Module):
    def __init__(self, input_size, num_classes):
        super(LogisticRegression, self).__init__()
        self.linear = nn.Linear(input_size, num_classes)
    
    def forward(self, x):
        out = self.linear(x)
        return out

In [63]:
input_size = x_train.shape[1]
num_classes = 2
num_epochs = 100
batch_size = 100
learning_rate = 0.001

num_steps = len(y_train)//batch_size

In [64]:
model = LogisticRegression(input_size, num_classes)

In [65]:
# Loss and Optimizer
# Softmax is internally computed.
# Set parameters to be updated.
criterion = nn.CrossEntropyLoss()  
optimizer = torch.optim.SGD(model.parameters(), lr=learning_rate)

In [66]:
# Training the Model
for epoch in range(num_epochs):
    for step in range(num_steps - 1):
    # for i, (images, labels) in enumerate(train_loader):
        batch_x = Variable(torch.from_numpy(x_train[step*batch_size:(step+1)*batch_size]).float())
        batch_y = Variable(torch.from_numpy(y_train[step*batch_size:(step+1)*batch_size]).long())
        
        # Forward + Backward + Optimize
        optimizer.zero_grad()
        outputs = model(batch_x)
        loss = criterion(outputs, batch_y)
        loss.backward()
        optimizer.step()
        
        loss_array.append(loss.data[0])

In [68]:
# Test the Model
correct = 0
total = 0


test_x = Variable(torch.from_numpy(x_test).float())
test_y = torch.from_numpy(y_test).long()

outputs = model(test_x)

_, predicted = torch.max(outputs.data, 1)
total += test_y.size(0)
correct += (predicted == test_y).sum()
    
print('Accuracy of the model : %d %%' % (100 * correct / total))

Accuracy of the model : 81 %