In [3]:
import matplotlib.pyplot as plt
import torch
import numpy as np
import pandas as pd

In [44]:
from torch.autograd import Variable
from torch import optim
import torch.nn as nn

In [4]:
titanic_data = pd.read_csv('titanic_data.csv')

In [8]:
titanic_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

---

In [9]:
x = Variable(torch.ones(2, 2), requires_grad=True)

In [10]:
x

Variable containing:
 1  1
 1  1
[torch.FloatTensor of size 2x2]

In [11]:
y = x + 2
y

Variable containing:
 3  3
 3  3
[torch.FloatTensor of size 2x2]

In [12]:
y.grad_fn

In [14]:
print(x.grad_fn)

None

In [15]:
z = y * y * 3
z

Variable containing:
 27  27
 27  27
[torch.FloatTensor of size 2x2]

In [20]:
out = z.mean()
out

Variable containing:
 27
[torch.FloatTensor of size 1]

In [21]:
out.backward()

In [22]:
x.grad

Variable containing:
 4.5000  4.5000
 4.5000  4.5000
[torch.FloatTensor of size 2x2]

In [24]:
print(y.grad)

None

---

---

In [27]:
x = torch.randn(3)
x = Variable(x, requires_grad=True)

In [30]:
x

Variable containing:
-2.0676
-0.4813
-0.5696
[torch.FloatTensor of size 3]

In [28]:
y = x * 2

In [32]:
y.data

-4.1352
-0.9625
-1.1393
[torch.FloatTensor of size 3]

In [33]:
y.data.norm()

4.395927350180397

In [34]:
while y.data.norm() < 1000:
    y = y * 2

y

Variable containing:
-1058.6086
 -246.4112
 -291.6480
[torch.FloatTensor of size 3]

In [35]:
gradients = torch.FloatTensor([0.1, 1.0, 0.0001])
y.backward(gradients)

x.grad

Variable containing:
  51.2000
 512.0000
   0.0512
[torch.FloatTensor of size 3]

---

In [37]:
import torch.nn as nn

In [38]:
m = nn.Linear(20, 30)

In [39]:
input = Variable(torch.randn(128, 20))

In [40]:
output = m(input)

In [43]:
print(output.size())

torch.Size([128, 30])